<div class="container-fluid">
	<div class="row-fluid">
		<div class="span3">
			<div class="well sidebar-nav">
				<ul class="nav nav-list">
					<li class="nav-header"><i class="icon-folder-open"></i>文章列表</li>
					{% for post in site.posts %}
    				<li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ BASE_PATH }}{{ post.url }}">{{ post.title }}</a></li>
  					{% endfor %}
				</ul>
			</div>
		</div>

	  	<div class="span9">
	  		<div class="page-header">
  				<h1>{{ page.title }} {% if page.tagline %} <small>{{ page.tagline }}</small>{% endif %}</h1>
			</div>
	    {{ content }}
	  </div>
	</div>
</div>