<div class="container-fluid">
	<div class="row-fluid">
		<div class="span3">
			<div class="well sidebar-nav">
				<ul class="nav nav-list">
					<li class="nav-header">archive list</li>
					<li><a href="#">item</a></li>
					<li><a href="#">item</a></li>
					<li><a href="#">item</a></li>
					<li><a href="#">item</a></li>
				</ul>
			</div>
		</div>

	  	<div class="span9">
	  		<div class="page-header">
  				<h1>{{ page.title }} {% if page.tagline %} <small>{{ page.tagline }}</small>{% endif %}</h1>
			</div>
	    {{ content }}
	  </div>
	</div>
</div>